.PublishContainers {
    width: 90%;
    padding: 1%;
}

.ContainerCards {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
}

.PublishCard {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    border-radius: 10px;
    background-color: #ebf5ff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all .4s ease;
}

.Publish {
    width: 90%;
    border-top: 2px solid black;
}

.publisht {
    font-family: 'Hepta Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 38px;
    text-align: center;
}

.ContainerButton {
    display: flex;
    justify-content: center; 
    gap: 1rem;
}

.TipoI { 
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.tipodeinmueble { /* En el width se modifica el que dice casa en publicar inmueble*/
    width: 100%; 
    padding: 8px 0;
    background: #F1F8FF;
    border: 1px solid #2E97FF;
    border-radius: 5px;
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    text-indent: 5%;
}

.container_Upload{
    width: 90%;
}
.input_description {
    width: 95%;
    padding: 15px 10px;
    font-size: 1rem;
    background: #F1F8FF;
    color: #2e97ff;
    border: 1px solid #2E97FF;
    border-radius: 5px;
    resize: none;
}

.uplodavideo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info_video{
    text-align: center;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
}
.input_small{
    display: flex;
    gap: 5%;
    /* background-color: rgb(111, 214, 111); */
}

.container_Buttons {
    width: 40%;
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 5%;
    background: #F1F8FF;
    gap: 1rem;
}
.button {
    width: 90%;
    padding: 6px 10px 4px 10px;
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    background: #8AC5FF;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn_publish {
    background: #2E97FF;
}

.wrapper_inputpublish{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0; 
}


/* DISEÑO SE ADAPTA PARA TABLET  max-1023 */
@media screen and (min-width:768px) and (max-width:1374px){
    
}


/* DISEÑO SE ADAPTA PARA MOVIL */
@media screen and (max-width:800px) {
    .PublishContainers{
        width: 90%;
    }
    .ContainerCards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .PublishCard {
        width: 100%;
        margin: 5% 0 10% 0;
        display: flex;
        flex-direction: column;
    }
    .container_Buttons {
        width: 90%;
    }
}